body {
    background-image: url("../assets/home/background-home-desktop.jpg");
    background-size: cover;
    font-size: 18px;
    line-height: 32px;
    font-family: $barlow;
    font-weight: normal;
    color: $basTextColor;
    background-color: $baseColor;

    &::before {
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-color: $baseColor;
        opacity: .6;
        z-index: -1;
    }
    
    
    &::after {
        content: "";
        position: absolute;
        width: 50%;
        height: 96px;
        right: 0;
        top: 40px;
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(81.5485px);
        z-index: -1;
    }
}

p {
    color: #D0D6F9;
}

h1, h2, h3, h4, h5, h6 { 
    font-family: $bellefair; 
    font-weight: bold;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
}

h1{
    font-size: 150px;
    line-height: 172px;
}

h2{

}

h3{

}

h4{

}

h5{
    font-family: $barlowC;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.725px;
}

a {
    font-family: $barlowC;
    color: $basTextColor;
}

nav{
    a{
        i{
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 2.7px;
        }
        &.active {
            border-bottom: 3px solid rgba(255, 255, 255, 1);
        }
        &:hover {
            color: $basTextColor;
            border-bottom: 3px solid rgba(255, 255, 255, .3);
        }
    }
}

header{
    .logo {
        position: absolute;
        left: 4%;
    }
    nav {
        position: relative;
        padding-left: 8em;
    }
    nav::before {
        content: "";
        position: absolute;
        width: 95%;
        height: 1px;
        left: -90%;
        top: 50%;
        background: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.25;
    }
    nav a {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 2.7px;
        text-transform: uppercase;
        padding: 2em 0;
        
    }
}

main {
    margin-top: 6em;
}

