/*font Variables*/
$barlow: 'Barlow', sans-serif;
$barlowC: 'Barlow Condensed', sans-serif;
$bellefair: 'Bellefair', sans-serif;
$bellefairC: 'Bellefair Condensed', sans-serif;


/*Color Variables*/
$baseColor: #0B0D17;
$secondaryColor: #D0D6F9;
$basTextColor: #FFF;


/*=================== fonts ====================*/
@import url('https://fonts.googleapis.com/css?family=Barlow:300,400,700,900|Bellefair:300,400,500,700|Barlow+Condensed:300,400,500,700|Bellefair+Condensed:300,400,500,700');
